body {
  margin: 0;
  padding: 0;
  background: url('Background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bungee', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: calc(100% - 200px);
  max-width: 600px;
  box-sizing: border-box;
}

select, input, button {
  margin: 10px 0;
  padding: 14px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-family: 'Bungee', cursive;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

#score {
  margin-top: 10px;
  font-size: 22px;
}

#question {
  font-size: 24px;
  margin-bottom: 10px;
}

#answer {
  text-align: center;
}
